<nav class="navbar navbar-inverse" role="navigation" ng-controller="NavbarController">
    <div class="container-fluid" id="navBackground">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

            <a class="navbar-brand" ui-sref="anon.home" id="navbarTitle">GifMeImFamous*</a>

        </div>
    </div>
</nav>
